<%- include('./includes/header'); %>
<div class="row">
    <div class="col-8 offset-2">
        <h1 class="mt-5"><%= title; %></h1>
        <% if(posts) { %>
            <% posts.forEach((post) => { %>
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title"><a href="./post/<%= post.id %>"><%= post.name; %></a></h5>
                        <p class="card-text"><%= post.description; %></p>
                        <p class="card-text"><small class="text-muted"><%= dateFormat(post.created_at, 'yyyy-mm-dd HH:MM'); %></small></p>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>
<%- include('./includes/footer'); %>